body{
    background-color:#c3d9e3;
}
.register-container {
    position: absolute;
    width: 100%;
    top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container fieldset {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    width: 75rem;
    height: 34rem;
    border: none;
}
.input-wraper {
    display: flex;
    justify-content: space-around;
}
.left-side {
    width: 50%;
}
.left-side input {
    margin-left:9rem;
}
.right-side {
    width: 50%;
}
.field-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    letter-spacing: 2px;
    width: 27rem;    
}
.register-one-side{
    height:100%;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register-one-side .field-register {
    padding-top: 2rem;
}
.login-redirect{
    height: 3rem;
    margin-top: 60px;
    margin-top: 2.5rem;
}
.file-input{
    z-index: -1;
    position: absolute;
    display: none;
}
.upload-image-wrap{
position: relative;
}
.upload-image {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    background-color: darkslategray;
    color: #fafaf6;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 20px;
}
.profile-picture-container {
    display: flex;
    justify-content: space-around;
}
.picture-container {
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.picture-container img {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.input-register {
    width: 27rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.input-register input {
    width: 60%;
    height: 1.5rem;
    border-radius: 7px;
    background-color: #fafaf6;
    border-top: none;
    border-left: none;
    border-right: none;
}

